# latexmk/TeX aux
*.aux
*.log
*.out
*.fls
*.fdb_latexmk
*.synctex.gz
*.toc
*.nav
*.snm
*.bbl
*.blg

# outputs
resume/**/*.pdf
resume/**/*.docx
dist/

# macOS system files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db